/* Estilos Globales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e7eaeb; /* Fondo Gris solicitado */
    color: #333333;
    overflow-x: hidden; 
}

/* FONDO NAVIDEÑO (fondo.png)
   Se usa una capa separada (overlay) para aplicar opacidad 
*/
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* La ruta '../' sale de la carpeta css y entra a images */
    background-image: url('../images/fondo.png'); 
    
    background-repeat: repeat; 
    background-position: center top;
    opacity: 0.15; 
    z-index: 0; 
    pointer-events: none; 
}

/* Animación del Patrón del Header */
@keyframes slideBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100px 100px; }
}

.header-pattern {
    /* Patrón en el header */
    background-image: url('../images/patron.png');
    background-size: 50px 50px; 
    animation: slideBackground 10s linear infinite;
}

/* Clases de utilidad */
.text-body { font-weight: 400; }
.text-highlight { font-weight: 700; }
.text-heavy { font-weight: 800; }
