/* Estilos Globales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e7eaeb; /* Fondo Gris solicitado */
    color: #333333;
    overflow-x: hidden; 
}

/* Clases de utilidad para grosores de fuente */
.text-body { font-weight: 400; }
.text-highlight { font-weight: 700; }
.text-heavy { font-weight: 800; }
